# 服务器配置
PORT=5000
NODE_ENV=development

# 数据库配置
DB_USER=postgres
DB_HOST=localhost
DB_NAME=agile_team_manager
DB_PASSWORD=postgres
DB_PORT=5432

# JWT配置
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=3600 # 1小时

# 日志配置
LOG_LEVEL=debug